.map {
    position: relative;
    overflow: hidden;
    outline: none;

    #g36 {
        cursor: pointer;

        path {
            &:hover {
                fill: #343f3f;
                cursor: pointer;
            }
        }
    }

    #scene {
        min-width: 100vw;
        min-height: auto;
    }
}