.map {
    position: relative;
    overflow: hidden;
    outline: none;

    #g36 {
        path:hover {
            fill: #faca83 !important;
            cursor: pointer;
        }
    }

    #scene {
        min-width: 100vw;
        min-height: auto;
    }
}

.bandeau-fin {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-8cm, -4.5cm);
    height: 9cm;
    width: 16cm;
    background-image: url("../../assets/gameUiEnd.svg");
    text-align: center;

    img {
        max-width: 7rem;
        width: 100%;
        margin-top: 3rem;
    }

    h1 {
        font-family: "Almendra SC", serif;
        text-align: center;
        color: #faca83;
        margin: 0;
    }

    h2 {
        text-align: center;
        color: #faca83;
        margin: 0;
    }
}

.bandeau-next-player {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-444px, -112px);
    height: 225px;
    width: 888px;
    background-image: url("../../assets/gameUiButton.svg");

    h2 {
        text-align: center;
        color: #faca83;
        margin: 5rem 0 0;
    }

    h1 {
        font-family: "Almendra SC", serif;
        text-align: center;
        color: #faca83;
        margin-top: 0;
    }   
}