<section *ngIf="canton != undefined">
    <div class="scroll"></div>
    <div class="content">
        <h1>{{ canton.nom }}</h1>
        <h2 class="puissance">{{ canton.puissance }}</h2>
        <img src="{{ canton.blason }}" alt="">
        <p>{{ canton.description }}</p>
        <i>{{ canton.proprio === current ? "Vous possédez ce canton" : (canton.proprio === 99 ? "Personne ne possède encore ce canton" : "L'adversaire possède ce canton") }}</i>
    
        <h2>Ressources</h2>
        <ul class="ressources">
            <li *ngFor="let ressource of canton.ressources">
                <img src="../../assets/ressources/{{ displayRessource(ressource.id) }}.svg" alt="">
                <p>+{{ ressource.quantity }}</p>
            </li>
        </ul>

        <div class="conteneur-action" *ngIf="canton.proprio === current">
            <h2>Mes actions</h2>
            <button *ngIf="startMenu" (click)="patienter()"> Booster mes ressources </button>
            <button *ngIf="startMenu" (click)="creer()"> Former des troupes </button>
            <button *ngIf="startMenu" (click)="attaquer()"> Attaquer !</button>
            <button *ngIf="startMenu" (click)="deplacer()">Déplacer mes troupes</button>

            <button *ngIf="createMenu" ng-disabled="!canBuy(1)" (click)="setPuissance(1)"> Infanterie </button>
            <button *ngIf="createMenu" ng-disabled="!canBuy(5)" (click)="setPuissance(5)"> Cavalerie </button>
            <button *ngIf="createMenu" ng-disabled="!canBuy(15)" (click)="setPuissance(15)"> Soutien </button>
            <button *ngIf="createMenu" (click)="setStartMenu()"> Retour </button>
        </div>
    </div>
</section>
