<section *ngIf="canton != undefined">
    <div class="scroll"></div>
    <div *ngIf="!isWar && !moving" class="content">
        <h1>{{ canton.nom }}</h1>
        <h2 class="puissance">{{ canton.puissance }}</h2>
        <img src="{{ canton.blason }}" alt="">
        <p>{{ canton.description }}</p>
        <i>{{ canton.proprio === current ? "Vous possédez ce canton" : (canton.proprio === 99 ? "Personne ne possède encore ce canton" : "L'adversaire possède ce canton") }}</i>
    
        <h2>Ressources</h2>
        <ul class="ressources">
            <li *ngFor="let ressource of canton.ressources">
                <img src="../../assets/ressources/{{ displayRessource(ressource.id) }}.svg" alt="">
                <p>+{{ ressource.quantity }}</p>
            </li>
        </ul>

        <div class="conteneur-action" *ngIf="canton.proprio === current">
            <h2>Mes actions</h2>
            <button *ngIf="startMenu" (click)="patienter()"> Finir mes actions </button>
            <button *ngIf="startMenu" (click)="creer()"> Former des troupes </button>
            <button *ngIf="startMenu" (click)="attaquer()"> Attaquer !</button>
            <button *ngIf="startMenu && canton.puissance! > 1" (click)="deplacer()">Déplacer mes troupes</button>

            <button *ngIf="createMenu" [disabled]="!canBuy(1)" (click)="setPuissance(1)"> Infanterie </button>
            <button *ngIf="createMenu" [disabled]="!canBuy(5)" (click)="setPuissance(5)"> Cavalerie </button>
            <button *ngIf="createMenu" [disabled]="!canBuy(15)" (click)="setPuissance(15)"> Soutien </button>
            <button *ngIf="createMenu" (click)="setStartMenu()"> Retour </button>
        </div>
    </div>

    
    <div *ngIf="isWar" class="content">
        <h2> Vous attaquez </h2>
        <p> Choisissez votre cible:</p>
        <div class="conteneur-action">
            <button *ngFor="let voisin of voisinsEnnemis" (click)="setTarget(voisin.id!)"> {{ voisin.nom }} - <img class="crown" src="../../assets/crown.svg" />{{ voisin.puissance }} </button>
        </div>

        <table>
            <tr>
                <td> Vous attaquez avec <strong> {{ canton.nom }}</strong> </td>
                <td> <img class="crown" src="../../assets/crown.svg" />{{ canton.puissance }} </td>
            </tr>
            <tr *ngIf="target != undefined">
                <td> Vous ciblez <strong> {{ target.nom }}</strong> </td>
                <td> <img class="crown" src="../../assets/crown.svg" />{{ target.puissance }} </td>
            </tr>
        </table>

        <div class="buttons">
            <button (click)="fermer()"> Quitter </button>
            <button (click)="simuAttaque()"> Attaquer </button>
        </div>
    </div>

    <div *ngIf="moving" class="content">
        <h3> Vous déplacez vos troupe de </h3>
        <h2> {{ canton.nom }} </h2>
        <p> Choisissez votre canton d'arrivée:</p>
        <div class="conteneur-action">
            <button *ngFor="let voisin of voisinsAlliers" (click)="movingTarget(voisin.id!)"> {{ voisin.nom }} - <img class="crown" src="../../assets/crown.svg" />{{ voisin.puissance }} </button>
        </div>

        <h3> Nombre d'unité à déplacer </h3>
        <p> {{ canton.puissance! === 2 ? '(1 maximum)' :  'Entre 1 et ' + (canton.puissance! - 1) }} </p>

        <input type="number" [(ngModel)]="nbPuissance">

        <div class="buttons">
            <button (click)="fermer()"> Quitter </button>
            <button (click)="deplacement()" type="submit"> Déplacer </button>
        </div>
    </div>
</section>
